#main_grid{
	display: grid;
	overflow: hidden;
	grid-template-columns: auto 250px;
	grid-template-rows: auto 150px;
}

#board {
	grid-area: 1 / 1 / 2 / 2;
}

#moves {
	grid-area: 1 / 2 / 2 / 3;
}

#analysis{
	grid-area: 2 / 1 / 3 / 3;
}
