
#analysis-grid {
	display: grid;
	overflow: hidden;
	grid-template-columns: auto 250px;
	grid-template-rows: auto 150px;
}

#board-space {
	grid-area: 1 / 1 / 2 / 2;
}

#board-status {
	grid-area: 1 / 2 / 2 / 3;
}

#board-analysis {
	grid-area: 2 / 1 / 3 / 3;
}
