
#analysis-grid {
	width: 100%;
	height: 100%;
	display: grid;
	overflow: hidden;
	grid-template-columns: minmax(0, 1fr) 250px;
	grid-template-rows: minmax(0, 1fr) 150px;
}

#board-status {
	display: flex;
	flex-direction: column;
	grid-area: 1 / 2 / 2 / 3;
}

#board-analysis {
	grid-area: 2 / 1 / 3 / 3;
}
.analysisElement {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 12% 15% 15% 15% 33%;
	grid-template-rows: 1fr;
}
.analysisElement > div:not(:last-child) {
	border-right: 1px solid rgb(81, 76, 113);
}
.analysisElement > div {
	border-bottom: 1px solid rgb(81, 76, 113);
}
.analysisLabel > p {
	text-align: center;
}

#board {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}


#thread-container {
	height: 20%;
}
#engine-container {
	height: 30%
}
#game-history {
	height: 50%;
}



#board-grid {
	display: grid;
	/* overflow: hidden; */
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.lightSquare {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

.darkSquare {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

.pieceOnBoard {
	grid-area: 1 / 1 / 2 / 2;
	width: 100%;
	height: 100%;
}

.indicator {
	grid-area: 1 / 1 / 2 / 2;
}
